<div class="flex flex-col gap-2">
  <form [formGroup]="addressForm">
    <div class="flex flex-col gap-2">
      <div class="flex gap-1 items-center">
        <app-radio-group
          [options]="weatherOptions"
          [name]="'weather'"
          [selectedValue]="selectedWeatherMode"
          (onSelectionChange)="onSelectionWeatherChange($event)"
          class="w-8/12"
        ></app-radio-group>
        <app-input
          label=""
          placeholder="Enter Address"
          formControlName="address"
          class="flex-1"
        >
        </app-input>

        <app-button (onClick)="onSubmit()">
          <svg
            class="w-4 h-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </app-button>
      </div>
      <div
        *ngIf="
          addressForm.get('address')?.invalid &&
          addressForm.get('address')?.touched
        "
        class="text-red-600 text-sm"
      >
        Address is required.
      </div>
      <div *ngIf="error" class="text-red-600 text-sm">
        {{ error }}
      </div>
    </div>
  </form>

  <h3 class="mb-1 font-semibold text-gray-900 dark:text-white">View mode</h3>
  <app-radio-group
    [options]="calendarOptions"
    [name]="'calendar'"
    [selectedValue]="selectedCalendarMode"
    (onSelectionChange)="onSelectionCalendarChange($event)"
    class="w-8/12"
  ></app-radio-group>
  <div
    echarts
    [options]="chartOption"
    class="flex flex-1 w-full mt-3"
    style="height: 500px"
  ></div>
</div>
